body { margin: 0; height: 100%; width: 100%; }

.main-container {}

.main-container .bg-container {
  background: url(main-bg.png) no-repeat center;
  background-size: cover;
  min-height: 862px;
  padding: 0 60px;
  position: relative;
}

.main-container .bg-container h1 {
  display: block;
  width: 500px;
  margin: 80px 100px;
  font-family: sans-serif;
  font-weight: 400;
  font-size: 28px;
  letter-spacing: 2px;
  color: #FFF;
}

.main-container .bg-container .img-logo {
  display: inline-block;
  margin-top: 40px;
}

.main-container .bg-container .img-learn-more {
  display: block;
  position: absolute;
  left: 45%;
  bottom: 11%;
}